<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kortros.General.UpdateParameters.Properties.UpdateParameter" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Kortros.General.ExcelSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Kortros.General.UpdateParameters.Properties.UpdateParameter>
      <setting name="ParameterKolichestvo" serializeAs="String">
        <value>495d66c9-c5b5-493e-9b0f-73afc67e4216</value>
      </setting>
      <setting name="ParameterIzmer" serializeAs="String">
        <value>7621a737-0095-43fe-93fd-ee4a267a6cab</value>
      </setting>
      <setting name="ParameterGroup" serializeAs="String">
        <value>663814f3-e83a-447f-a1d5-866c8c082409</value>
      </setting>
      <setting name="UpdateParameterSelectedKolichestvo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateParameterSelectedIzmer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateParameterSelectedGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateParameterSelectedWorkset" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateParameterSelectedElementId" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateParameterUpdateOnlySelected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParameterElementId" serializeAs="String">
        <value>495ac66d-09f7-466e-b85a-59f70db13553</value>
      </setting>
    </Kortros.General.UpdateParameters.Properties.UpdateParameter>
    <Kortros.General.ExcelSync.Properties.Settings>
      <setting name="ExcelSyncFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSyncMarkParName" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSyncMarkParGuid" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSyncTypeMarkParGuid" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSyncTypeMarkParName" serializeAs="String">
        <value />
      </setting>
      <setting name="ExcelSyncUpdateOnlySelected" serializeAs="String">
        <value>True</value>
      </setting>
    </Kortros.General.ExcelSync.Properties.Settings>
  </userSettings>
</configuration>